/* mot | http://mot.la */

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, sans-serif;
  border: 33px solid white;
  background-color: white;
  text-align: center;
}

.logo {
  font-size: 1.2rem;
}

.content {
  margin: 0 auto;
  max-width: 580px;
  text-align: left;
}

hr {
  border: none;
  border-top: 1px solid gray;
  height: 1px;
  margin: 1.2em 0 1.2em 0;
}

hr.short {
  border: none;
  border-top: 1px solid gray;
  height: 1px;
  margin: 1.2em 10rem 1.2em 10rem;
}

h1 {
  margin: 0.4em 0 0.5em 0;
}

p {
  line-height: 1.4em;
  margin: 0.9em 0 0.9em 0;
}

blockquote {
  font-size: 0.8em;
  font-style: italic;
  padding: 0 20px 0 20px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  line-height: 1.4em;
}

pre {
  padding: 16px;
  overflow: auto;
  background-color: #f7f7f7;
  border-radius: 3px;
  margin-bottom: 16px;
  font: monospace;
  display: block;
}

h2 {
  line-height: 1.2em;
  margin: 0.4em 0 0.4em 0;
  font-size: 1.2em;
}

h3 {
  line-height: 1.2em;
  margin: 0.4em 0 0.4em 0;
}

h5 {
  font-size: 0.8em;
  margin: 0.4em 0 0.4em 0;
}

time {
  background: black;
  color: white;
  font-size: 0.8em;
}

img {
  outline: 0; 
  max-width: 100%; 
  height: auto;
}

ul {
  margin: 0 0 0 1.2em;
}

ul li {
  padding-bottom: 4px;
}

footer {
  text-align: right;
  border-top: 40px solid white;
  font-size: 0.8em;
}

footer a {
}

ul.grid {
  margin: 0;
}

.grid li {
  display: inline-block;
  line-height: 0;
  list-style: none;
}

.grid li img {
  width: 124px;
  padding: 0;
  margin: 0;
}

.changelog li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 10px;
  z-index: 1;
}

.navigation {
  margin: 0 0 30px 0;
  padding: 10px 0 10px 0;
  background: white;
  text-align: center;
  background: #fcfcfc;
  line-height: 1.2em;
}
