html, body {
  font-family: Georgia, serif;
  /*font-family: Duo, monospace;*/
  font-size: 62.5%; /* 10px when default is 16px for user's browser */

  background: #ffffff;
  color: #2d2d2d;
  text-align: center;
}

p  {
  font-size: 1.8rem;
  line-height: 3.6rem; /* 1.8 * 2 */
}

.container {
  max-width: 50rem;
  margin: 0 auto;
  text-align: left;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.signature {
  width: 20rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.crest {
  width: 4rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  opacity: 0.1;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
