<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{{page.title}} | Scott Motte - Software and Investments</title>
  <meta name="description" content="Scott Motte">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="stylesheets/index.css">
</head>
<body>
  <table class="page-component" width="900">
    <tr>
      <td class="align-top">
        <div class="letterhead-component">
          <img src="images/signatures/1.png" alt="Scott Motte" />
        </div>
      </td>
    </tr>
    <tr>
      <td class="align-top" height="100%">
        {{ content }}
      </td>
    </tr>
    <tr>
      <td>
      </td>
    </tr>
  </table>
</body>
</html>
