<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{{page.title}} - Scott Motte - Hacker</title>
  <meta name="description" content="Scott Motte's personal website">
  <link rel="stylesheet" href="stylesheets/mot.css">

  <!-- Begin Inspectlet Embed Code -->
  <script type="text/javascript" id="inspectletjs">
  window.__insp = window.__insp || [];
  __insp.push(['wid', 541145109]);
  (function() {
  function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
  document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', __ldinsp) : window.addEventListener('load', __ldinsp, false)) : __ldinsp();

  })();
  </script>
  <!-- End Inspectlet Embed Code -->
</head>
<body>
  <div class="content">
    <h1><a href="index.html">mot.la</a></h1>

    {{ content }}

    <footer>
      <a href="/changelog.html">changelog</a>
    </footer>
  </div>
</body>
</html>
